<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dw_projects.remotecontrol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RemoteControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".NotConnectedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PowerDVDNotOpenActivity"
            android:label="PowerDVD"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PowerDVD"
            android:label="PowerDVD"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WindowsActivity"
            android:label="Windows"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>